_ignore

.doc
.DS_Store
.editorconfig
.eslintrc.json
.gitignore
.gitattributes
.github/
.travis.yml
.vscode/

node_modules/
src/
docs/

awesome-impacto.md
rollup.config.dev.js
rollup.config.js
yarn-error.log
webpack.config.js
